@import "./reset.css";

.sf-App-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
